* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Manrope', sans-serif;
    min-height: 100vh;
}

.header {
    background-color: #A785ED;
    color: #FDFDFD;
    padding: 20px;
}

.input {
    width: 400px;
    padding: 15px;
    border: 1px solid #979797;
    border-radius: 8px;
}

.movies-container{
    gap: 25px;

}

.movies {
    gap: 20px

}

.movie {
    width: 168px;
    height: 301px;
    left: 0px;
    top: 0px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.movie__info {
    background-color: rgba(0, 0, 0, 0.8);
    width: 168px;
    height: 40px;
    color: #FFFFFF;
    padding: 8px;
    gap: 15px;
}

.movie__title {
    max-width: 100px;
    font-size: 14px;
    font-weight: bold;
}

.movie__rating__img {
    margin-right: 5px;
}

.movie__rating{
    font-size: 12px;
    line-height: 18px;
    color: #FBCD6E;
    font-weight: bold;
}

.subtitle{
    font-size: 28px;
}

.highlight {
    
    gap: 25px;
    margin-top: 15px;
    margin-bottom: 120px;
}

.highlight__video {
    width: 550px;
    height: 310px;

    background: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.highlight__video-button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
}

.highlight__info {
    width: 360px;
    height: 311px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    color: black;

    margin-bottom: 8px;
    padding: 20px;
}

.highlight__title {
    width: 240px;
    height: 36px;
 
    font-size: 24px;
        
    color: #E183C8;
}

.highlight__rating {
    
    width: 33px;
    height: 36px;

    font-size: 24px;

    text-align: right;

    color: #A785ED;
}

.highlight__genre-launch {

    width: 328px;
    height: 18px;
 
    font-size: 12px;
    line-height: 150%;

    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.7);

    
    margin-bottom: 35px;

}

.highlight__description {
    width: 328px;
    height: 120px;
   
    font-size: 16px;
    color: #000000;
}   

.modal {
    background-color: rgba(0,0,0, 0.6);

    position: fixed;
    z-index: 4;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 80px;

}

.modal__title {
    width: 357px;
    height: 54px;
    font-size: 36px;
    margin-bottom: 20px;
    color: #FFF;
    text-align: center;
}

.modal__img {
    width: 729px;
    height: 413px;
    left: 355px;
    top: 184px;
    margin-bottom: 30px;
}


.modal__description {
    width: 730px;
    height: 151px;
    font-size: 20px;
    color: #FFFF
}

.modal__average {
    font-size: 20px;
    color: #FFFF
}

.modal__close {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    right: 40px;
    top: 40px;
}
